@import "../../app/globals.module.scss";

.dot-container {
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &.active {
    background-color: $primary-blue-light;
  }
}

.dot:hover {
  transform: scale(1.8);
}

